.avatar{
		margin-top: 42upx;
		text-align: center;
		margin-bottom: 35upx;
	}
	.avatar_img{
		width:120upx;
		height:120upx;
		border-radius:50%;
		background: #ccc;
	}
	.editCon{
		text-align: center;
	}
	.alias{
		height:34upx;
		font-size:36upx;
		line-height: 34upx;
		font-family:PingFang SC;
		font-weight:800;
		color:#333;
	}
	.editImg{
		width: 36upx;
		height: 36upx;
	}
	.taxes_warp{
		padding: 0 30upx;
	}
	.taxes_con{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		line-height: 98upx;
		font-size:32upx;
		font-family:PingFang SC;
		font-weight:bold;
		color:#333;
		border-bottom: 1px solid #EBEBEB;
	}
	.taxes_con .input{
		line-height: 98upx;
		height: 98upx;
	}
/* .taxes_tit {
    width: 61%;
} */

.taxes_tit text{
	height:27upx;
	font-size:28upx;
	font-family:PingFang SC;
	font-weight:500;
}
.taxes_symbol{
	font-size:28upx;
	font-family:PingFang SC;
	color:#999;
	width: 20%;
	text-align: right;
}
.taxes_input{
	justify-content: space-between;
}

.input{
	text-align: right;
}
.logout{
	text-align: center;
	font-size:32upx;
	font-family:PingFang SC;
	font-weight:500;
	color:#999;
	line-height:80upx;
	background:rgba(241,241,241,1);
	height: 80upx;
}