.uni-padding-wrap{
	padding: 0 30upx;
}
.page-section-spacing,.swiper{
	width:690upx;
	height:237upx;
}
.swiper-item {
	border-radius: 10upx;
	width:690upx;
	height:237upx;
}
image{will-change: transform}