.uni-padding-wrap{
	margin-top: 45upx;
	padding: 0 30upx;
}
.swiper-item {
	border-radius: 10upx;
	height: 172upx;
	width:690upx;
}
.swiper {
	width:690upx;
	height:172upx;
}
image{will-change: transform}