.recommendHouseView {
	margin-top: 43upx;
	padding: 0 30upx;
},
.recommendHouseTitleView {
	height: 117upx;
	display: flex;
	flex-direction: row;
	align-items: center;
},
.recommendHouseTitleItem {
	flex: 1;
	font-size:40upx;
	font-family:PingFang SC;
	font-weight:800;
	color:rgba(51,51,51,1);
	margin-bottom: 25px;
}
.houseItemView {
	display: flex;
	height: 280upx;
	flex-direction: row;
}
.houseItemImg {
	width: 240upx;
	height: 149upx;
	border-radius:10upx;
}
.houseItemImg image {
	width: 100%;
	height: 100%;
}
.houseItem {
	flex: 1;
	margin-left: 25upx;
}
.itemTitle{
	height:80upx;
	font-size:30upx;
	font-family:PingFang SC;
	font-weight:bold;
	color:#333;
	overflow: hidden;
	text-overflow: ellipsis;
	display:-webkit-box; //作为弹性伸缩盒子模型显示。
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}
.itemInfo {
	font-size: 24upx;
	color: #666;
	margin: 3upx 0;
}
.itemPrice {
	display: flex;
	flex-direction: row;
	color: #333333;
	justify-content: space-between;
	font-size: 20upx;
}
.redPrice {
	margin-left: 10upx;
	color: #E02E24;
	font-size: 26upx;
}
.grayPrice {
	margin-left: 10upx;
	color: #333;
	font-size: 26upx;
}
.createIime {
	margin-top: 20upx;
	background:rgba(199,49,38, 0.15);
	/* opacity:0.06; */
	border-radius: 10upx;
	display: flex;
	flex-direction: row;
	text-align: center;
	height: 44upx;
},
.createIimeIcon{
	width: 24upx;
	height: 24upx;
	margin: 10upx 0 7upx 9upx;
}
.createIimeIcon image {
	width: 24upx;
	height: 24upx;
	float: left;
}
.createIimeIconinfo {
	font-size: 26upx;
	color: #E02E24;
	line-height: 44upx;
},

.navigator-hover,.navigator-hover:hover{
	background: none;
	cursor: pointer;
}
.navigator-hover{
	opacity: unset;
}
.scv{
	flex-wrap: nowrap;
	white-space: nowrap;
	margin: 0 auto;
	width: 50%;
	margin-bottom: 40upx;
}
.scv view{
	display: inline-block;
	height: 50upx;
	line-height: 50upx;
	text-align: center;
	color: #999;
	font-size:28upx;
	width: 50%;
	text-align: center;
}
.scv_line{
	border:4upx solid #fff;
	display: flex;
	margin: 0 auto;
	width:47upx;
}
.text-red{
	color: #000 !important;
}
.text-red text{
	background:rgba(224,46,36,1);
	border:4upx solid rgba(224,46,36,1);
}
.quickTabSwiperItem{
	display: inline-block;
}