.recommendHouseView {
	margin-top: 43upx;
	padding: 0 30upx;
},
.recommendHouseTitleView {
	height: 117upx;
	display: flex;
	flex-direction: row;
	align-items: center;
},
.recommendHouseTitleItem {
	flex: 1;
	font-size:40upx;
	font-family:PingFang SC;
	font-weight:800;
	color:rgba(51,51,51,1);
	margin-bottom: 25px;
},
.scv{
	flex-wrap: nowrap;
	white-space: nowrap;
	margin: 0 auto;
	width: 50%;
	margin-bottom: 40upx;
}
.scv view{
	display: inline-block;
	height: 50upx;
	line-height: 50upx;
	text-align: center;
	color: #999;
	font-size:28upx;
	width: 50%;
	text-align: center;
}
.scv_line{
	border:4upx solid #fff;
	display: flex;
	margin: 0 auto;
	width:47upx;
}
.text-red{
	color: #000 !important;
}
.text-red text{
	background:rgba(224,46,36,1);
	border:4upx solid rgba(224,46,36,1);
}
.quickTabSwiperItem{
	display: inline-block;
}