.advisory_warp{
	width:100%;
	height:138upx;
	background:#fff;
	box-shadow:0upx 1upx 8upx 0upx #231815;
	display: flex;
	flex-wrap: row wrap;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	z-index: 1
}
.consultant{
	width: 90%;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}
.consultant_r{
	display: flex;
	margin-top: 8px;
}
.consultant_r text{
	border-radius:10upx;
	margin-top: 19upx;
	font-size:28upx;
	color: #FFF;
	line-height: 70upx;
	text-align: center;
	padding: 0 17upx;
	display: inline-table;
}
.online{
	background:#78AEE8;
	border-radius:10upx;
	margin-top: 19upx;
	font-size:28upx;
	color: #FFF;
	line-height: 70upx;
	text-align: center;
	padding: 0 17upx;
	display: inline-table;
}
.tel{
	background:#DE4C47;
}
.consultant_l{
	display: flex;
	margin-top: 19upx;
	flex-flow: row;
	justify-content: space-between;
}
.avatar image{
	width:100upx;
	height:100upx;
	background:#F1F1F1;
	border-radius:50%;
}
.persion{
	margin-left: 18upx;
}
.persion_name{
	width: 100%;
	font-size:32upx;
	font-weight:bold;
	color:#333;
}
.work{
	font-size:22upx;
	font-weight:500;
	color:#666;
	line-height:60upx;
}
.tel {
	margin-left: 5px;
}