.base_house_con{
	padding: 0 30upx;
	padding-top: 20upx;
},
.house_tit{
	width:100%;
	font-size:36upx;
	font-weight:800;
	color:#333;
	margin-top: 30upx;
}
.price{
	display: flex;
	flex-flow: row wrap;
	margin:30upx 0;
}
.start,.market{
	height:31upx;
	font-size:28upx;
	font-weight:500;
	color:#33
}
.market{
	margin-left: 49upx;
}
.countdown{
	width:100%;
	height:80upx;
	background:#F5F5F5;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.start_time{
	font-size:28upx;
	font-weight:800;
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:box;
	box-pack:center;
	box-align:center;
	padding-left: 30upx;
}
.start_time .sTime{
	font-size: 28upx !important;
}
.look{
	font-size:24upx;
	font-family:PingFang SC;
	font-weight:500;
	color:rgba(66,151,255,1);
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:box;
	box-pack:center;
	box-align:center;
	padding-right: 32upx;
}
.look .look_img{
	width: 32upx;
	height: 32upx;
	display: inherit;
	margin-top: 2upx;
}
.people{
	font-size:24upx;
	font-weight:800;
	color:#333;
	display: inherit;
}
.join{
	margin-right: 50upx;
}
.Violation .sTime{
	font-size: 24upx !important;
}
.sTime{
	color:#CC0000;
	font-size: 38upx;
}
.house_base{
	border-bottom: 1px solid #EBEBEB;
	border-top: 1px solid #EBEBEB;
	margin-top: 30upx;
}
.house_base_top,.house_base_bottom{
	display: flex;
	flex-flow: row wrap;
	align-items:center;
}
.house_base_top view,.house_base_bottom view{
	display: flex;
	width: 33%;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	font-family:PingFang SC;
	line-height:60upx;
}
.house_base_top view,{
	color: #333;
	font-weight:bold;
	font-size:32upx;
}
.house_base_bottom view{
	color: #666;
	font-size:28upx;
	font-weight:500;
}
.auction_info{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 49upx;
}
.auction_info_l{
	display: flex;
	flex-flow: column;
	width: 50%;
}
.auction_info_l view,.auction_info_r view{
	width: 100%;
	font-size:28upx;
	font-family:PingFang SC;
	/* font-weight:500; */
	color:#333;
	line-height:60upx;
}
.auction_info_r view{
	display: inline-block;
	float: left;
}
.auction_info_r {
	width: 46%;
}
.featuredtTitleView {
	height: 60upx;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.titleText{
	font-size:28upx;
	color: #333333;
},
.tieleImgView {
	height: 60upx;
	width: 32upx;
}
.tieleImg{
	height: 60upx;
	width: 32upx;
	color: #999;
}
.desc{
	color: #6C8BC7;
}
.bianhao{
	text-overflow: ellipsis;
	overflow: hidden;
}
.bianhao text{
	float: right;
	text-align: left;
	width: 59%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.share_tag{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.house_tag{
	height: 56upx;
}
.house_tag text{
	padding: 9upx 17upx 8upx 16upx;
	background:#F7D6D6;
	border-radius:5px;
	font-size:24upx;
	font-family:PingFang SC;
	font-weight:500;
	color: #CC0000;
	margin-right: 12upx;
}
.house_tag text:nth-child(2){
	background:#E1EEFF;
	color: #4297FF;
}
.house_tag text:nth-child(3){
	background: #FFEBDC;
	color: #FF8126;
}
.shareJoin{
	width: 48upx;
	height: 48upx;
	display: inline-block;
}
.share view:first-child{
	margin-right: 20upx;
}
.joinImg{
	width: 52upx;
	height: 52upx;
	float: left;
	display: inline-block;
}
.joinText{
	height:19upx;
	font-size:20upx;
	font-family:PingFang SC;
	font-weight:500;
	color:#666;
	width: 52upx;
	float: left;
}
.share{
	display: flex;
}
.tagList{
	margin-top:8upx;
}
.Violation{
	display: flex;
	flex-flow: row wrap;
	justify-content:space-between;
	margin-bottom: 29upx;
}
/**
 * 立即报名
 */
.fang_she_sign_up{
	width: 690upx;
	height: 80upx;
	background-color: #FBF5F5;
	margin-top: 40upx;
	display: flex;
	justify-content: space-between;
}
.fang_she_sign_up .fang_she_sign_up_describe{
	font-size: 28upx;
	display: flex;
	flex-flow: row;
}
.fang_she_sign_up .fang_she_sign_up_describe image{
	width: 30upx;
	height: 30upx;
	margin: 25upx 11upx 25upx 20upx;
}
.fang_she_sign_up .fang_she_sign_up_describe text{
	margin-top: 20upx;
	font-weight:bold;
}
.fang_she_sign_up  .fang_she_sign_up_button{
	width: 180upx;
	height: 54upx;
	line-height: 54upx;
	background-color: #DD3731;
	font-size: 24upx;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	margin: 13upx;
	float: right;
	
}
/**
 *黑块 拍卖状态那里 
 */
.newsletters{
	/* width: 750upx; */
	width:100%;
	height: 114upx;
	margin: 30upx 0 40upx 0;
	display: flex;
}
.newsletters .house_status{
	width: 120upx;
	height: 114upx;
	/* line-height: 114upx; */
	background-color: #8A8A8A;
	
}
.newsletters .house_status .house_status_title{
	width:60upx;
	height: 59upx;
	margin: 0 auto;
	top: 0;
	left: 0;
	padding: 15upx 14upx;
	line-height: 29upx;
	color: #fff;
	margin-top: 8upx;
}
.newsletters .house_status text{
	/* margin: 0 auto; */
	color: #fff;
	font-size: 28upx;
	word-break:break-all;
}
.newsletters .newsletters_info{
	width: 630upx;
	background-color: #F5F5F5;
	font-size: 28px;
	padding: 26px 0 0 25upx;
	/* font-weight: heavy; */
}
.newsletters_info_one{
	font-weight: 600;
}
.newsletters .newsletters_info_two{
	font-size: 20px;
	margin-left: 25upx;
}