.recommendHouseTitleItem {
		margin-top: 43upx;
		padding: 0 30upx;
	},
	.recommendHouseTitleView {
		height: 117upx;
		display: flex;
		flex-direction: row;
		align-items: center;
	},
	.recommendHouseTitleItem {
		flex: 1;
		font-size:40upx;
		font-weight:800;
		color:#333;
		margin-bottom: 30upx;
	}
	.houseItemView {
		display: flex;
		flex-direction: row;
	}
	.houseItemImg {
		width: 240upx;
		height: 149upx;
		border-radius:10upx;
	}
	.houseItemImg image {
		width: 100%;
		height: 100%;
	}
	.houseItem {
		flex: 1;
		margin-left: 25upx;
	}
	.itemTitle{
		font-size:30upx;
		font-family:PingFang SC;
		font-weight:bold;
		color:rgba(51,51,51,1);
		overflow: hidden;
		text-overflow: ellipsis;
		display:-webkit-box; //作为弹性伸缩盒子模型显示。
		-webkit-box-orient:vertical;
		-webkit-line-clamp:2;
	}
	.itemInfo {
		font-size: 24upx;
		color: #666;
	}
	.itemPrice {
		display: flex;
		flex-direction: row;
		color: #333333;
		justify-content: space-between;
		font-size: 20upx;
	}
	.redPrice {
		margin-left: 10upx;
		color: #E02E24;
		font-size: 26upx;
	}
	.grayPrice {
		margin-left: 10upx;
		color: #333;
		font-size: 26upx;
	}
	.createIime {
		margin-top: 20upx;
		height: 44upx;
		background:rgba(199,49,38, 0.15);
		/* opacity:0.06; */
		border-radius: 10upx;
		display: flex;
		flex-direction: row;
		text-align: center;
	},
	.createIimeIconinfo {
		font-size: 26upx;
		color: #E02E24;
		line-height: 44upx;
	},
	
	.createIimeIcon image {
		width: 24upx;
		height: 24upx;
		margin-left: 12upx;
		margin-right: 7upx;
	}
	
	.scv{
		flex-wrap: nowrap;
		white-space: nowrap;
	}
	.scv view{
		display: inline-block;
		height:31upx;
		font-size:32upx;
		font-family:PingFang SC;
		font-weight:500;
		line-height:60upx;
		margin-left: 49upx;
		color: #999;
	}
	.scv view:first-child{
		margin-left: 30upx !important;
	}
	.scv_line{
		border:4upx solid #fff;
		display: flex;
		margin: 0 auto;
		width:47upx;
	}
	.text-red{
		color: #000 !important;
	}
	.text-red text{
		background:rgba(224,46,36,1);
		border:4upx solid rgba(224,46,36,1);
	}
	.quickTabSwiper{
		padding: 0 32upx;
	}
	.quickTabSwiperItem{
		overflow-y: auto;
	}
	.quickTabSwiperItem text{
		font-size:32upx;
		font-family:PingFang SC;
		font-weight:500;
		color:#333;
		line-height:44upx;
	}