.recommend_con{
	padding: 40upx 30upx 0 30upx;
}
.featuredtTitleView {
	height: 60upx;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.titleText{
	color: #333333;	
	height:39upx;
	font-size:40upx;
	font-family:PingFang SC;
	font-weight:800;
	line-height:60upx;
	display: flex;
	flex-flow: row;
},
.moreData {
	height:39upx;
	font-size:28upx;
	font-family:PingFang SC;
	font-weight:500;
	color:#999;
	line-height:60upx;
}
.more{
	color: #999;
	margin-left: 16upx;
}
.recommend_list{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 30upx;
	border-bottom: 1px solid #EBEBEB;
	padding-bottom: 28upx;
}
.recommend_list image{
	width: 80upx;
	height: 80upx;
}
.recommend_list_l{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}
.recommend_list_r{
	display: flex;
	width: 50%;
	flex-flow: row-reverse;
}

.avatar{
	border-radius:50%;
	width: 80upx;
	height: 80upx;
}
.avatar image{
	border-radius:50%;
}
.workJob{
	margin-left: 30upx;
}
.name {
	font-size:32upx;
	font-family:PingFang SC;
	font-weight:bold;
	color:#333;
	line-height:30upx;
}
.experience{
	font-size:24upx;
	font-family:PingFang SC;
	font-weight:500;
	color:#666;
	line-height:30upx;
}
.msg {
	margin-right: 38upx;
}
.persion_desc {
	display: flex;
	justify-items: left;
	font-size:32upx;
	font-family:PingFang SC;
	color:#333;
	line-height:44upx;
	margin-top: 40upx;
}