.scv{
	flex-wrap: nowrap;
	white-space: nowrap;
	height: 62upx;
	padding: 0 30upx;
	margin-top: 20upx;
	box-sizing: border-box;
}
.scv view{
	display: inline-block;
	height: 50upx;
	line-height: 50upx;
	text-align: center;
	color: #999;
	font-size:28upx;
	margin-right: 71upx;
}
.text-red{
  color:#DF2D23 !important;
  font-weight:800;
  font-family:PingFang SC;
  color: #fff !important;
  background:linear-gradient(90deg,rgba(245,111,111,1),rgba(221,84,74,1));
  border-radius:25upx;
  padding: 0 10px;
}
.prefer-posi{
	height: 190upx !important;
	width: 100%;
	z-index: 99;
	background: #fff;
	float: left;
	position: absolute;
}
/* #ifdef MP-WEIXIN */
.prefer-posi{
	height: 190upx !important;
	width: 100%;
	z-index: 99;
	background: #fff;
	float: left;
	position: absolute;
	padding-top: 85upx;
}
/* #endif */
.clearCust{
	height:50upx;
	line-height:50upx;
	background:#F1F1F1;
	border-radius:5upx;
	text-align: center;
	color: #333;
	font-size:24upx;
	font-family:PingFang SC;
	font-weight:500;
	display: block;
	padding: 0 30upx;
	margin-left: 20upx;
	background: #C73126;
	color: #fff;
	margin-top: 5upx;
}