.recommendList{
	padding-top: 354upx;
	position: relative;
	height: 100%;
	overflow: hidden;
},

.recommendHouseView {
	padding: 0 30upx;
},

.quickTabSwiperItem {
	display: inline-block;
	float: left;
}
.loading{
	line-height: 2em;
	text-align: center;
	color: #888;
	font-size: 20upx;
	margin-top: 20upx;
	width: 100%;
	display: inline-block;
}