.complex{
	background: #fff;
}
.prefer-posi{
	width: 100%;
	z-index: 99;
	background: #fff;
	height: 108upx;
	float: left;
	position: absolute;
}
.delica-view{
	border-bottom: 1upx solid #EBEBEB;
	margin: 0 auto;
	padding: 24upx 30upx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	background: #fff;
}
.withFix{
	width: 16upx;
	height: 16upx;
	margin-left: 8upx;
	display: inline-block;
}
.sort{
	width: 36upx;
	height: 36upx;
}
.delica-list{
	font-size:28upx;
	font-family:PingFang SC;
	font-weight:400;
	color:#333;
	line-height:60upx;
	width: 25%;
	display: inline-block;
	float: left;
}
.delica-list:first-child{
	width:20% !important;
}
.delica-list:nth-child(2){
	text-indent: 36upx;
}
.delica-list:nth-child(3){
	text-indent: 54upx;
	width: 25% !important;
}
.delica-list:nth-child(4){
	text-align: right;
	width: 30% !important;
}
.delica-list .sort{
	float: right;
	margin-top: 1px;
}
.delica-list:last-child{
	float: right;
	text-align: right;
	width:22% !important;
}
.sortlist{
	background: #fff;
	position: absolute;
	width: 100%;
}
.srotlitetle text{
	padding: 0 15upx;
	display: block;
	font-size: 30upx;
	height: 70upx;
	line-height: 70upx;
	border-top: 1upx solid #ededed;
	text-align: center;
}
.moreSort text{
	font-size: 30upx;
	height: 70upx;
	line-height: 70upx;
	border-top: 1upx solid #ededed;
	text-align: center;
}
.activeb{
	color: #C73126 !important;
}
.mark{
	background: rgba(0,0,0,0.5); 
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 11;
}

/* 更多 */
.check_more{
	display: flex;
	flex-flow:row wrap;
}
.checkMoreRes{
	width: 95%;
	height: 700upx;
	position: relative;
	overflow: hidden;
	overflow-y: scroll;
	margin: 0 auto;
}
.check_tit{
	height:50upx;
	font-size:28upx;
	font-family:PingFang SC;
	font-weight:bold;
	color:#333;
	line-height:50upx;
	display: block;
	width: 100%;
	padding-top: 30upx;
	text-indent: 16upx;
}
.choice{
	height:60upx;
	line-height:60upx;
	background:#F1F1F1;
	border-radius:5upx;
	text-align: center;
	color: #333;
	font-size:24upx;
	font-family:PingFang SC;
	font-weight:500;
	margin-top: 15upx;
	display: block;
	width: 23%;
	margin-left: 5.2px;
}
.check_active{
	background: #C73126 !important;
	color: #FFF !important;
}
.sortlist-bottom{
	width:100%;
	height:96upx;
	background:#FFF;
	box-shadow:0px 5px 6px 0px #231815;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.sortlist-bottom view{
	flex-grow: 1;
	text-align: center;
}
.avgList text{
	border-top:none ;
}
.areaList{
	display: flex;
	flex-flow: row wrap;
	justify-content:space-between;
	background: #F7F7F7;
}
.areaList view{
	width: 50%;
	text-align: center;
}
.areaList view text {
	background: #fff;
}
.sortitem view{
	height:60upx;
	font-size:28upx;
	font-family:PingFang SC;
	font-weight:500;
	color:#666;
	line-height:60upx;
	text-align: center;
	margin-top: 30upx;
}
.sortitem view image{
	width: 24upx;
	height: 24upx;
	margin-left: 14upx;
	margin-top: 16upx;
	display: inline-block;
}
.start{
	height:44upx;
	background:#F1F1F1;
	border-radius:5upx;
	line-height: 44upx;
	font-size:28upx;
	font-family:PingFang SC;
	font-weight:500;
	color: #333;
	display: inline-block;
	width: 80upx;
	margin-top: 8upx;
}

.end input{
	height:44upx;
	background:#F1F1F1;
	border-radius:5upx;
	line-height: 44upx;
	font-size:28upx;
	font-family:PingFang SC;
	font-weight:500;
	color: #333;
	display: inline-block;
	width: 80upx;
	float: left;
	margin-top: 8upx;
}
.customize{
	font-size:24upx;
	font-family:PingFang SC;
	font-weight:500;
	color:rgba(51,51,51,1);
	line-height:60upx;
	height: 60upx;
	display: flex;
	flex-flow: row wrap;
	justify-content:space-evenly;
	margin-right: 95upx;
	margin-left: 30upx;
}
.customize_pm{
	font-size:24upx;
	font-family:PingFang SC;
	font-weight:500;
	color:rgba(51,51,51,1);
	line-height:60upx;
	height: 60upx;
	display: flex;
	flex-flow: row wrap;
	justify-content:end;
	margin-left: 12upx;
	font-size: 24upx;
	margin-top: 12upx;
}
.customize_pm view:first-child{
	margin-right: 20upx;
}
.customize_pm input:first-child{
	margin-right: 10upx;
}
.customize_line{
	width:25upx;
	height:3upx;
	font-size:24upx;
	font-family:PingFang SC;
	font-weight:500;
	color:rgba(51,51,51,1);
	line-height:60upx;
}
.customize_tit{
	height: 60upx;
}
.sure{
	background:#C73126;
	color: #fff;
	height: 96upx;
}
.sure text{
	height: 96upx;
	line-height: 96upx;
}
.area_list{
	padding-bottom: 30upx;
}
.area_list_btn{
	justify-content: center;
}
.area_list_btn text{
	background:#C73126;
	color: #fff;
	border-radius:5upx;
	width:220upx;
	height:66upx;
	display: inline-block;
}
.area_list_clear {
	justify-content: center;
}
.area_list_clear text{
	width:220upx;
	height:66upx;
	background:#F1F1F1;
	border-radius:5upx;
	display: inline-block;
}
.areaCon text{
	height:60upx;
	line-height:60upx;
	background:#F1F1F1;
	border-radius:5upx;
	text-align: center;
	color: #333;
	font-size:24upx;
	font-family:PingFang SC;
	font-weight:500;
	margin-top: 15upx;
	display: block;
	width: 23%;
	margin-left: 5.2px;
}
.last{
	position: unset;
}

.clearCust{
	height:50upx;
	line-height:50upx;
	background:#F1F1F1;
	border-radius:5upx;
	text-align: center;
	color: #333;
	font-size:24upx;
	font-family:PingFang SC;
	font-weight:500;
	display: block;
	padding: 0 30upx;
	margin-left: 20upx;
	background: #C73126;
	color: #fff;
	margin-top: 5upx;
}