.recommendList{
	padding-top: 294upx;
	position: relative;
	height: 100%;
	overflow: hidden;
},
.recommendHouseView {
	padding: 0 30upx;
},
.loading{
	line-height: 2em;
	text-align: center;
	color: #888;
	font-size: 20upx;
	margin-top: 20upx;
}