.recommendHouseView {
	padding: 0 30upx;
},
.houseItemView {
	display: flex;
	height: 280upx;
	flex-direction: row;
}
.houseItemImg {
	width: 240upx;
	height: 149upx;
	border-radius:10upx;
}
.houseItemImg image {
	width: 100%;
	height: 100%;
}
.houseItem {
	flex: 1;
	margin-left: 25upx;
}
.itemTitle{
	height:80upx;
	font-size:30upx;
	font-family:PingFang SC;
	font-weight:bold;
	color:#333;
	overflow: hidden;
	text-overflow: ellipsis;
	display:-webkit-box; //作为弹性伸缩盒子模型显示。
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}
.itemInfo {
	font-size: 24upx;
	color: #666;
	margin: 3upx 0;
}
.itemPrice {
	display: flex;
	flex-direction: row;
	color: #333333;
	justify-content: space-between;
	font-size: 20upx;
}
.redPrice {
	margin-left: 10upx;
	color: #E02E24;
	font-size: 26upx;
	font-weight: bold;
}
.grayPrice {
	margin-left: 10upx;
	color: #333;
	font-size: 26upx;
	font-weight: bold;
}
.createIime {
	margin-top: 26upx;
	background:rgba(199,49,38, 0.15);
	border-radius: 10upx;
	display: flex;
	flex-direction: row;
	text-align: center;
	background-color:#f8f8f8;
},
.createIimeIconinfo {
	font-size: 24upx;
	color: #E02E24;
	line-height: 44upx;
},
.createIimeIcon {
},
.createIimeIcon image {
	width: 24upx;
	height: 24upx;
	margin-left: 12upx;
	margin-right: 7upx;
	margin-bottom: 7upx;
}
.navigator-hover,.navigator-hover:hover{
	background: none;
	cursor: pointer;
}
.navigator-hover{
	opacity: unset;
}
.loading{
	line-height: 2em;
	text-align: center;
	color: #888;
	font-size: 20upx;
	margin-top: 20upx;
}

.tag{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 20upx;
}
.tag text{
	width:114upx;
	height:50upx;
	background:#F5F3EA;
	border-radius:5upx;
	font-size:24upx;
	font-family:PingFang SC;
	font-weight:500;
	color:#C8A96A;
	line-height:50upx;
	text-align: center;
	border-radius:5upx;
}
.tag text:last-child{
	background:#E4EFFD !important;
	color: #4297FF !important;
}
.posi{
	position: fixed;
	overflow: hidden;
	height: 100%;
}
.house_status{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	width: 100%;
	font-size: 20upx;
	position: absolute;
	width: 100%;
	z-index: 10;
	color: #fff;
	font-size: 20upx;
	margin-top: 20upx;
}
.house_status text{
	width:84upx;
	height: 30upx;
	line-height:30upx;
	text-align: center;
}
.house_status .house_status_red{
	background: #E02E24;
}
.house_status .house_status_blue{
	background: #3C76D9;
}
.house_status .house_status_ash{
	background: #989898;
}