scroll-view {
	  width: 100%;
	  white-space: nowrap;  // 不让它换行
	}
	.recpmmend_item {
	  width: 49%;
	  padding-right: 20upx;
	  display: inline-block;
	  vertical-align: top;
	 }
	 .img {
		display: inline-block;
		width: 100%;
		height: 208upx;
	}
	.img image {
	  width: 100%;
	  height: 100%;
	  border-radius: 10upx;
	}
	
	.featuredView {
		margin-top: 45upx;
		padding: 0 30upx;
		margin-bottom: 53upx;
	}
	.featuredtTitleView {
		height: 38upx;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30upx;
	}
	.titleText{
		font-size: 40upx;
		color: #333333;
	},
	.fontOverflow {
		text-overflow: ellipsis;
		overflow: hidden;
		width:100%;
	}
	.houseTit{
		margin-top: 30upx;
		font-size:30upx;
		font-weight:bold;
		color:#333;
	}
	.houseDesc{
		margin-top: 20upx;
		font-size:24upx;
		font-weight:400;
		color:#666;
	}
	.qipaiPrice{
		font-size:24upx;
		font-weight:500;
		color:#333;
		line-height:60upx;
	}
	.fontRed{
		color: #CC0000;
	}
	.houseInfo {
	    display: flex;
	    flex-flow: column;
	}